<template>
  <button
    type="button"
    class="music"
    @click="toggle"
  >
    <span v-show="isEnabled">Turn music off</span>
    <span v-show="!isEnabled">Turn music on</span>
  </button>
</template>

<script>
import { Howl, Howler } from "howler";
import { mapState } from "vuex";

const musicFiles = {
  forest: "a-walk-in-the-forest",
  dream: "dream-land",
  rain: "after-the-rain",
  ruins: "ruins"
};

export default {
  name: "Music",
  data() {
    return {
      isEnabled: process.browser
        ? localStorage.isLD41MusicEnabled !== "false"
        : false,
      music: {}
    };
  },
  computed: {
    ...mapState(["currentLevelName"]),
    currentFile() {
      let currentFile = musicFiles.forest;

      if (!this.currentLevelName) {
        return musicFiles.forest;
      }

      if (this.currentLevelName.indexOf("dream") > -1) {
        return musicFiles.dream;
      }

      switch (this.currentLevelName) {
        case "village_crossing":
        case "village_uneven":
        case "rain_uneven":
        case "slippery":
        case "village_staircase":
          return musicFiles.rain;
        case "ruins":
        case "ruins_staircase":
        case "tower":
        case "battlements":
        case "rolling_down":
        case "path_to_hill":
        case "stairs_down":
          return musicFiles.ruins;
      }

      return musicFiles.forest;
    }
  },
  watch: {
    currentFile() {
      if (this.isEnabled) {
        this.play();
      }
    }
  },
  methods: {
    play() {
      if (Object.keys(this.music).length === 0) {
        for (const musicKey in musicFiles) {
          const filename = musicFiles[musicKey];
          this.music[filename] = new Howl({
            src: [`music/${filename}.ogg`, `music/${filename}.mp3`],
            loop: true
          });
        }
      } else {
        this.stop();
      }

      this.music[this.currentFile].play();
    },
    stop() {
      for (const musicKey in musicFiles) {
        const filename = musicFiles[musicKey];
        this.music[filename].stop();
      }
    },
    toggle() {
      this.isEnabled = !this.isEnabled;
      localStorage.isLD41MusicEnabled = this.isEnabled;

      if (this.isEnabled) {
        this.play();
      } else {
        this.stop();
      }
    }
  },
  mounted() {
    Howler.unload();

    if (this.isEnabled) {
      this.play();
    }
  }
};
</script>

<style>
.music {
  background: transparent;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
