<template>
  <g :transform="`translate(${translation.x}, ${translation.y})`">
    <slot></slot>
    <image
      :xlink:href="imageUrl"
      :x="imageRectangle.x"
      :y="imageRectangle.y"
      :height="imageRectangle.height"
      :width="imageRectangle.width" />
  </g>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    imageRectangle: {
      type: Object
    },
    translation: {
      type: Object
    }
  },
  computed: {
    ...mapState(["walkingDirection"]),
    imageUrl() {
      if (this.walkingDirection) {
        return require(`~/assets/images/helena_${this.walkingDirection}.png`);
      } else {
        return require("~/assets/images/helena_standing.png");
      }
    }
  }
};
</script>

<style>
path#player,
rect#player {
  visibility: hidden;
}
</style>
