<template>
    <div id="preloader">
        <img :src="require(`~/static//backgrounds/battlements.jpg`)" />
        <img :src="require(`~/static//backgrounds/bridge.jpg`)" />
        <img :src="require(`~/static//backgrounds/cake.jpg`)" />
        <img :src="require(`~/static//backgrounds/clearing.jpg`)" />
        <img :src="require(`~/static//backgrounds/cover.jpg`)" />
        <img :src="require(`~/static//backgrounds/credits.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream1.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream2.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream3.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream4.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream5.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream6.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream8.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream9.jpg`)" />
        <img :src="require(`~/static//backgrounds/dream.jpg`)" />
        <img :src="require(`~/static//backgrounds/ferry.jpg`)" />
        <img :src="require(`~/static//backgrounds/go_for_a_walk.jpg`)" />
        <img :src="require(`~/static//backgrounds/intro.jpg`)" />
        <img :src="require(`~/static//backgrounds/path_to_hill.jpg`)" />
        <img :src="require(`~/static//backgrounds/rain_uneven.jpg`)" />
        <img :src="require(`~/static//backgrounds/rolling_down.jpg`)" />
        <img :src="require(`~/static//backgrounds/rope_bridge.jpg`)" />
        <img :src="require(`~/static//backgrounds/ruins.jpg`)" />
        <img :src="require(`~/static//backgrounds/ruins_staircase.jpg`)" />
        <img :src="require(`~/static//backgrounds/slide.jpg`)" />
        <img :src="require(`~/static//backgrounds/slippery.jpg`)" />
        <img :src="require(`~/static//backgrounds/stairs_down.jpg`)" />
        <img :src="require(`~/static//backgrounds/story.jpg`)" />
        <img :src="require(`~/static//backgrounds/tower.jpg`)" />
        <img :src="require(`~/static//backgrounds/treehouse.jpg`)" />
        <img :src="require(`~/static//backgrounds/treehouse_staircase.jpg`)" />
        <img :src="require(`~/static//backgrounds/uneven.jpg`)" />
        <img :src="require(`~/static//backgrounds/village_crossing.jpg`)" />
        <img :src="require(`~/static//backgrounds/village.jpg`)" />
        <img :src="require(`~/static//backgrounds/village_staircase.jpg`)" />
        <img :src="require(`~/static//backgrounds/village_uneven.jpg`)" />
        <img :src="require(`~/static//backgrounds/wake_up.jpg`)" />
        <img :src="require(`~/static//backgrounds/woods.jpg`)" />
    </div>
</template>

<style>
#preloader {
  display: none;
}
</style>
