<template>
  <button
    type="button"
    class="reset"
    @click="reset"
  >
    <span >Restart</span>
  </button>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Reset",
  methods: {
    ...mapActions(["setCurrentLevelName"]),
    reset() {
      this.setCurrentLevelName("cover");
    }
  }
};
</script>

<style>
.reset {
  background: transparent;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 21px;
  position: absolute;
  top: 2.2em;
  right: 10px;
}
</style>
