<template>
  <section>
    <reset />
    <music />
    <img id="texture" :src="require(`~/static//backgrounds/background.jpg`)" />
    <img id="background" :src="currentLevelName && require(`~/static//backgrounds/${currentLevelName}.jpg`)" />
    <component v-bind:is="currentLevelName" />
    <preloader />
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";

import pl from "planck-js";

import Music from "~/components/music.vue";
import Reset from "~/components/reset.vue";
import Preloader from "~/components/preloader.vue";

import levelNames from "~/components/levels/levels.json";
var levelIndex = 0;

const startLevel = "cover";
const levels = {};

levelNames.forEach(levelName => {
  levels[levelName] = () => import(`~/components/levels/${levelName}.svg.vue`);
});

export default {
  components: {
    ...levels,
    Music,
    Reset,
    Preloader
  },
  data() {
    return {};
  },
  mounted() {
    this.setCurrentLevelName(startLevel);

    document.addEventListener("keydown", e => {
      switch (e.key) {
        case "?":
          this.toggleDebug();
          e.preventDefault();
          break;
        case "ArrowLeft":
          this.setWalkingDirection("left");
          e.preventDefault();
          break;
        case "ArrowRight":
          this.setWalkingDirection("right");
          e.preventDefault();
          break;
      }
    });

    document.addEventListener("keyup", e => {
      switch (e.key) {
        case "ArrowLeft":
        case "ArrowRight":
          this.setWalkingDirection(null);
          e.preventDefault();
          break;
      }
    });
  },
  computed: {
    ...mapState(["player", "currentLevelName"])
  },
  methods: {
    ...mapActions(["setCurrentLevelName", "setWalkingDirection", "toggleDebug"])
  }
};
</script>
